<div class="col-sm-3 col-md-2 sidebar text-center">
  <div>
    <img src="app/images/stein-logo-nav-white.png" class="user-avatar" /><br />
    <p>{{vm.user.name}} {{vm.user.lastname}}</p>
    <a ng-click="vm.logout()" class="btn btn-white btn-outline btn-rounded">Logout</a>
  </div>
  <ul class="nav nav-sidebar">
    <li ng-class="{ active: vm.isActive('home.dashboard')}">
      <a ui-sref="home.dashboard"><img src="app/images/gauge-icon-white.png"><br>Dashboard</a>
    </li>
    <li ng-class="{ active: !vm.isActive('home.dashboard') }">
      <a ui-sref="home.user"><img src="app/images/admin-icon-white.png"><br>Admin</a>
    </li>
  </ul>
</div>
