<div>
  <h2>General <small>Dashboard</small></h2>
  <div class="jumbotron">
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Status Cobertura & Frecuencia</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fecha Inicio Ciclo</td>
            <td>8/1/2016</td>
          </tr>
          <tr>
            <td>Fecha Conclusion del Ciclo</td>
            <td>8/1/2016</td>
          </tr>
          <tr>
            <td>Días en campo</td>
            <td>12</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Indicadores</th>
            <th>Al Dia de Hoy</th>
            <th>Sugerido</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td># Medicos Vistados</td>
            <td>0</td>
            <td>94</td>
            <td>0%</td>
          </tr>
          <tr>
            <td>Promedio de visitas diarias</td>
            <td>0.00</td>
            <td>10</td>
            <td>0%</td>
          </tr>
          <tr>
            <td>% Cobertura Total</td>
            <td>0%</td>
            <td>60%</td>
            <td>0%</td>
          </tr>
          <tr>
            <td># Contactos</td>
            <td>0</td>
            <td>120</td>
            <td>0%</td>
          </tr>
          <tr>
            <td>% Frecuencia Total</td>
            <td>0%</td>
            <td>54%</td>
            <td>0%</td>
          </tr>
          <tr>
            <td>Promedio de farmacias diarias</td>
            <td>0.00</td>
            <td>4</td>
            <td>0%</td>
          </tr>
          <tr>
            <td>Cobertura de farmacias</td>
            <td>0%</td>
            <td>64%</td>
            <td>0%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
